body {
  margin: 0;
  padding: 0;
  align-items: center;
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Verdana,
    sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-module {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  align-items: center;
  width: 100%;
}

.logo-img {
  width: 80px;
}

.menu {
  list-style: none;
  gap: 6em;
}

footer {
  border: solid 1px;
  width: 100%;
}

.pokemons-container {
  flex-wrap: wrap;
  width: 80%;
}

.pokemon-summary {
  width: 30%;
  margin: 0.8em;
  border-radius: 16px;
  border: solid 1px #3864a8;

  /* box-shadow: 2px 2px 2px 2px #3864a8; */
  padding: 1em 0;
}

.pokemon-summary-modal {
  width: 40%;
  margin: 0 30%;
  border-radius: 16px;
  border: solid 1px #3864a8;
  box-shadow: 2px 2px 2px 2px #3864a8;
  padding: 1em 0;
}

.pokemon-image {
  height: 150px;
}

.pokemon-image-modal { 
  height: 300px;
}

.name-container {
  justify-content: space-around;
  font-size: 1.5em;
}

.likes-number {
  text-align: right;
  padding: 0 1em;
}

.comments {
  width: 50%;
  align-self: center;
  border-radius: 8px;
  height: 3em;
  color: #fff;
  background-color: #df1818;
  border: solid 2px #000;
  font-size: 1em;
}

.comments:hover {
  border-color: #3864a8;
  background: #ffcb04;
  color: #000;
}

.pokemon-name {
  margin: 0;
  color: #3864a8;
}

.icons {
  color: #df1818;
}

.icons:hover,
.comments:hover {
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.comment-summary {
  margin-top: 50px;
}

.comment-title {
  margin: 0;
  text-align: center;
}

.comment-text {
  text-align: center;
}

.status-text {
  color: #000;
  font-size: large;
}

.span-size {
  width: 50%;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: solid 2px black;
  width: 40%;

}

.input-name {
  width: 50%;
  height: 30px;
  padding: 3px;
  font-size: 1.8rem;
  border: 1px solid gray;
}